@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.PostPreview {
  &:hover {
    h3 {
      cursor: pointer;
      // color: #fff;
      text-shadow: 1px 1px 1px #3ecf8e, 2px 2px 1px #3ecf8e, 3px 3px 1px #3ecf8e,
        4px 4px 1px #3ecf8e, 5px 5px 1px #3ecf8e, 5px 5px 1px #3ecf8e, 5px 5px 1px #3ecf8e,
        6px 6px 4px RGBA(0, 0, 0, 0.3);
    }
    .PreviewArrow {
        margin-right: -5px;
    }
  }
}
